/*

Hiding overflow works fine when outside of grid-container? But as soon as I try to put it into the grid container to style the background, the shape will overflow to the right of the screen 

*/

.background-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background {
    background-color: #472BE6;
    position: absolute;
    height: 20vh;
    width: 1000px;
    transform: translate(1400px, -100px) rotate(-45deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background2 {
    background-color: #472BE6;
    position: absolute;
    height: 4vh;
    width: 1300px;
    transform: translate(-250px, 100px) rotate(12deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background3 {
    background-color: #472BE6;
    position: absolute;
    height: 3vh;
    width: 1300px;
    transform: translate(-555px, 436px);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background4 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(-800px, 1215px) rotate(4deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background5 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(800px, 1320px) rotate(8deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background6 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(1450px, 1248px);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background7 {
    background-color: #472BE6;
    position: absolute;
    height: 1vh;
    width: 1300px;
    transform: translate(-900px, 1300px);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background8 {
    background-color: #472BE6;
    position: absolute;
    height: 3vh;
    width: 1300px;
    transform: translate(1120px, 1070px);
    mix-blend-mode: difference;
    overflow: hidden;
}