/*

Hiding overflow works fine when outside of grid-container? But as soon as I try to put it into the grid container to style the background, the shape will overflow to the right of the screen 

*/

/* .background-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
} */

.background {
    background-color: #B7C81D;
    position: absolute;
    height: 20vh;
    width: 1000px;
    transform: translate(-500px, -567px) rotate(45deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background2 {
    background-color: #472BE6;
    position: absolute;
    height: 4vh;
    width: 1300px;
    transform: translate(-850px, -350px) rotate(12deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background3 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(-700px, 30px);
    mix-blend-mode: difference;
    overflow: hidden;
}
.background4 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(-275px, 30px);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background5 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(-500px, -23px) rotate(3deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background6 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(-500px, 40px) rotate(-4deg);
    mix-blend-mode: difference;
    overflow: hidden;
}

.background7 {
    background-color: #472BE6;
    position: absolute;
    height: 2vh;
    width: 1300px;
    transform: translate(500px, 19px) rotate(2deg);
    mix-blend-mode: difference;
}