h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 50px 10px;
}

h3 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subheading {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1.7em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 20px;
}

.ascii {
    color: #472BE6;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.center{
    text-align: center;
    
}

.text-clip-1 {
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1000;
    font-style: normal;
    background: url('../images/pond.jpg') no-repeat center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    animation-name: breathing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    
}
.text-clip-2 {
    
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1000;
    font-style: normal;
    background: url('../images/sunset.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 120%;
    -webkit-box-reflect: below -100px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    
}
.text-clip-3 {
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1000;
    font-style: normal;
    background: url('/images/mountains.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    filter: drop-shadow(0 0 0.75rem #000000);
}

.linked {
    text-decoration: none;
    color: #472BE6;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.linked:hover {
    color: #2b9be6;
}