h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.center{
    text-align: center;
    
}

.text-clip-1 {
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1200;
    font-style: normal;
    background: url('/images/pond.jpg') no-repeat center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 100%;
}
.text-clip-2 {
    
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1200;
    font-style: normal;
    background: url('/images/sunset.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 120%;
}
.text-clip-3 {
    font-size: 14em;
    font-weight: bold;
    margin: 0.67em 0;
    font-weight: 1200;
    font-style: normal;
    background: url('/images/mountains.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 100%;
}